<!-- Der Aktionsbereich ist die linke Seite, das Uploadfeld ist als extra Component eingebunden  -->
<div class="container">
    <div class="item">
        <app-uploadbereich></app-uploadbereich>
    </div>
    <div class="item">
        <mat-form-field appearance="standard">
            <mat-label>Ordnungsbegriff*:</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="item">
        <mat-form-field appearance="fill">
            <mat-label>Notiz:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="item">
        <mat-checkbox class="example-margin">Unterlagen zur Bearbeitung usw.</mat-checkbox>
    </div>
    <div class="item">
        <button mat-flat-button>Hochladen</button>
    </div>
</div>