<!-- Die rechte Seite, sie beinhaltet die obere Dokumentenliste und im unteren Bereich die Summe der Anzahl und der Größe. -->
<div class="container">
    <div class="item">
        <!-- oberer Bereich, der die im Array enthaltenen Dokumente anzeigt -->
        <app-dokumentenliste></app-dokumentenliste>
    </div>
    <div class="item">
        <!-- unterer Bereich mit den Summen für die Anzahl und die Dateigrößen -->
        <app-dokumentenzusammenfassung></app-dokumentenzusammenfassung>
    </div>
</div>